{% extends('::base.html.twig') %}
{% block content %}
    <h3>List of Dishes</h3>

    {% for dish in dishList %}
        <div class="">
            <h3 class="blog-post-title">
                <a href="{{ path('show_one_dish', {'slug': dish.slug }) }}">{{ dish.name }}</a>
            </h3>
            <p>
               Created:  {{ dish.createdAt|date }}
            </p>
            {#
            {% if post.pictPath != "" %}
                <a href="{{ path('showOnePost', {'slug': post.slug }) }}">
                    <img class=" img-thumbnail" src="{{ asset(post.pictPath) | imagine_filter('thumb_160') }}"/>
                </a>
            {% else %}
                {{ dump(post.pictPath) }}
                <a href="{{ path('showOnePost', {'slug': post.slug }) }}">
                    <img class=" img-thumbnail" src="{{ asset('img/programming.jpg') | imagine_filter('thumb_160') }}"/>
                </a>
            {% endif %}#}
            <div class="clearfix">
                <h4>Ingredients:</h4>
                <p>{{ dish.ingredients | raw }}</p>
                <h4>Recipe:</h4>
                <p>{{ dish.recipe | nl2br }}</p>
                {#{% if post.post|length >299 %}...
                    <a href="{{ path('showOnePost', {'slug': post.slug }) }}">read more</a>
                {% endif %}#}
            </div>

            <hr>
        </div>
    {% endfor %}

    <br>
    <p>{{ msg }}</p>
{% endblock content %}
