{% extends('@App/Admin/DishCategory/index.html.twig') %}

{% form_theme form ':Admin:themeFields.html.twig' %}
{% block breadcrumbs %}
    {{ parent() }}
    <li>Редагувати категорію</li>
{% endblock breadcrumbs %}

{% block content %}
    <h3>Edit Category</h3>
    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'role': 'form'}}) }}
    <div class="form-group">
        <div class="col-sm-9">
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div class="col-sm-9">
            <label class="col-sm-3 control-label no-padding-right"></label>
            <input type="submit" value="Modify" class="btn btn-default"/>
        </div>
    </div>
    {{ form_end(form) }}
    <br>
    {% if msg != "" %}
        <p><b>{{ msg }}</b></p>
        <a href="{{ path('admin_dish_category_index') }}"><b>Admin list/edit categories</b></a>
    {% endif %}
{% endblock content %}
