{% extends(':Admin:base.html.twig') %}
{% block breadcrumbs %}
    {{ parent() }}
    <li>
        <a href="{{ path('admin_dish_category_index') }}">Категорії страв</a>
    </li>
{% endblock breadcrumbs %}

{% block content %}
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <span class="btn btn-light btn-xs">
                    <a href="{{ path('admin_dish_category_new') }}"><i class="ace-icon fa fa-plus bigger-10"> Додати</i></a>
                </span>
                <div class="row">
                    <br>
                    <div class="col-xs-12">
                        <table id="simple-table" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Назва категорії</th>
                                <th></th>
                            </tr>
                            </thead>
                            {% if categoryList %}
                                {% for item in categoryList %}
                                    <tbody>
                                    <tr>
                                        <td>
                                            {{ loop.index }}
                                        </td>
                                        <td>
                                            <a href="{{ path('admin_dish_category_edit', {'id': item.id}) }}"
                                               title="edit dish">
                                                {{ item.name }}
                                            </a>
                                        </td>
                                        <td>
                                            <div class="hidden-sm hidden-xs btn-group">
                                                <span class="btn btn-xs btn-info">
                                                    <a href="{{ path('admin_dish_category_edit', {'id': item.id}) }}">
                                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                    </a>
                                                </span>

                                                <button class="btn btn-xs btn-danger hidden">
                                                    <i class="">
                                                        {{ form_start(deleteForm[item.id],
                                                        {attr : {onsubmit: 'return confirm("Ви дійсно бажаєте видалити категорію?");' }}) }}
                                                        {{ form_widget(deleteForm[item.id].submit) }}
                                                        {{ form_end(deleteForm[item.id]) }}
                                                    </i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            {% endif %}
                        </table>
                    </div><!-- /.span -->
                </div><!-- /.row -->
            </div><!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
{% endblock content %}