{% extends('@App/Admin/DishCategory/index.html.twig') %}
{% form_theme form ':Admin:themeFields.html.twig' %}
{% block breadcrumbs %}
    {{ parent() }}
    <li>Нова категорія</li>
{% endblock breadcrumbs %}

{% block content %}
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <h3>Add new category for dish</h3>
                {{ form_start(form, {'attr': {'class': 'form-horizontal', 'role': 'form'}}) }}
                <div class="form-group">
                    <div class="col-sm-9">
                        {{ form_row(form.name) }}
                    </div>
                    <div class="col-sm-9">
                        <label class="col-sm-3 control-label no-padding-right"></label>
                        <input type="submit" value="Create" class="btn btn-default"/>
                    </div>
                </div>
                {{ form_end(form) }}
                <br>
                {% if msg != "" %}
                    <p><b>{{ msg }}</b></p>
                    <a href="{{ path('admin_dish_category_index') }}"><b>Admin list/edit categories</b></a>
                {% endif %}
            </div><!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
{% endblock content %}
