<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>{% block title %}Admin{% endblock %}</title>

    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    {% block stylesheets %}
        <!-- bootstrap & fontawesome -->
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet"/>
        <!-- page specific plugin styles -->
        <!-- text fonts -->
        <link href="{{ asset('css/fonts.googleapis.com.css') }}" rel="stylesheet"/>
        <!-- ace styles -->
        <link href="{{ asset('css/ace.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/admin.css') }}" rel="stylesheet"/>
    {% endblock %}


    <!-- ace settings handler -->
    <script src="{{ asset('js/ace-extra.min.js') }}"></script>
</head>

<body class="no-skin">

{% block navbar %}{% include ':Admin:navbar.html.twig' %}{% endblock navbar %}

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    {% block sidebar %}{% include ':Admin:sidebar.html.twig' %}{% endblock sidebar %}

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try {
                        ace.settings.check('breadcrumbs', 'fixed')
                    } catch (e) {
                    }
                </script>

                <ul class="breadcrumb">
                    {% block breadcrumbs %}
                        <li>
                            <i class="ace-icon fa fa-home home-icon"></i>
                            <a href="{{ path('admin_index') }}">Панель</a>
                        </li>
                    {% endblock breadcrumbs %}
                </ul><!-- /.breadcrumb -->
                <div class="nav-search" id="nav-search">
                    {% block search %}
                        <form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input"
                                           id="nav-search-input" autocomplete="off"/>
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
                        </form>
                    {% endblock search %}
                </div><!-- /.nav-search -->
            </div>

            {% block content %}{% include ':Admin:content.html.twig' %}{% endblock content %}

        </div>
    </div><!-- /.main-content -->

    {% block footer %}{% include ':Admin:footer.html.twig' %}{% endblock footer %}


    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->
{% block javascripts %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <!-- basic scripts -->
    <script src="{{ asset('js/bootstrap.js') }}"></script>

    <!-- page specific plugin scripts -->

    <!-- ace scripts -->
    <script src="{{ asset('js/ace-elements.min.js') }}"></script>
    <script src="{{ asset('js/ace.min.js') }}"></script>

    <!-- inline scripts related to this page -->
{% endblock %}

{% block ajaxRequests %}
    <script>
        $(document).ready(function () {
            $('.order_btn').click(function() {
                $.ajax({
                    url: "{{ path('get_processing_orders') }}",
                    method: "POST",
                    success: function (data) {
                        $('.order_modal').html(data);
                    }
                });
            });

            $('.stats_btn').click(function() {
                $.ajax({
                    url: "{{ path('get_order_stats') }}",
                    method: "POST",
                    success: function (data) {
                        $('.stats_modal').html(data);
                    }
                });
            });
        });
    </script>
    <style>
        .typeahead {
            display:none !important;
        }
    </style>
{% endblock %}
</body>
</html>
