{% extends(':Admin:base.html.twig') %}
{% block content %}
    <h3>List of Dishes</h3>
    <table class="table table-bordered table-hover">
        <tr>
            <th>#</th>
            <th>name</th>
            <th>category</th>
            <th>price</th>
            <th>modified</th>
            <th>created</th>
            <th></th>
            <th></th>
        </tr>
        {% for dish in dishList %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ dish.name }}</td>
                <td>category</td>
                <td>{{ dish.price }}</td>
                <td>{{ dish.createdAt|date }}</td>
                <td>{{ dish.updatedAt|date }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a class="ace-icon glyphicon glyphicon-pencil" title="edit Dish"
                           href="{{ path('adm_list_dish', {'id':dish.id}) }}"></a>
                    </td>
                    <td>
                        {#{{ form_start(delForms[dish.id], {attr : {onsubmit: 'return confirm("Do you really want to delete?");' }}) }}
                        {{ form_widget(delForms[dish.id].submit) }}
                        {{ form_end(delForms[dish.id]) }}#}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <br>
    <p>{{ msg }}</p>
{% endblock content %}
