{% extends(':Admin:base.html.twig') %}

{% form_theme form '@App/Admin/Dish/themeFields.html.twig' %}

{% block content %}
    <h3>Edit Dish</h3>
    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'role': 'form'}}) }}
    <div class="form-group">
        <div class="col-sm-9">
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-9">
            {{ form_label(form.recipe) }}
            {{ form_errors(form.recipe) }}
            {{ form_widget(form.recipe) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-9">
            {{ form_label(form.ingredients) }}
            {{ form_errors(form.ingredients) }}
            {{ form_widget(form.ingredients) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-9">
            {{ form_label(form.price) }}
            {{ form_errors(form.price) }}
            {{ form_widget(form.price) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-9">
            {{ form_label(form.categories) }}
            {{ form_errors(form.categories) }}
            {{ form_widget(form.categories) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-9">
            <label class="col-sm-3 control-label no-padding-right"></label>
            <input type="submit" value="Modify" class="btn btn-default"/>
        </div>
    </div>
    {{ form_end(form) }}

    <h3>Upload picture</h3>
    {{ form_start(uploadForm, {'attr': {'class': 'form-horizontal', 'role': 'form'}}) }}
    <div class="form-group">
        <div class="col-sm-9">
            <label class="col-sm-3 control-label no-padding-right"></label>
            {{ form_errors(uploadForm.file) }}
            {{ form_widget(uploadForm.file) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-9">
            <label class="col-sm-3 control-label no-padding-right"></label>
            <input type="submit" value="Upload" />
        </div>
    </div>
    {{ form_end(uploadForm) }}

    <h3>Choose picture</h3>
    {{ form_start(formChoose, {'attr': {'class': 'form-horizontal', 'role': 'form'}}) }}
    <div class="form-group">
        <div class="col-sm-9">
            <label class="col-sm-3 control-label no-padding-right"></label>
            {{ form_errors(formChoose.pict_path) }}
            {{ form_widget(formChoose.pict_path) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-9">
            <label class="col-sm-3 control-label no-padding-right"></label>
            <input type="submit" value="Choose" />
        </div>
    </div>
    {{ form_end(formChoose) }}

    {% if msg != "" %}
        <p><b>{{ msg }}</b></p>
        <a href="{{ path('admin_dish_list') }}"><b>Admin list/edit dishes</b></a>
    {% endif %}
{% endblock content %}
