{% extends('@App/Admin/Dish/index.html.twig') %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/chosen.css') }}" rel="stylesheet"/>
{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li>Редагувати страву</li>
{% endblock breadcrumbs %}


{% block content %}
    <div class="col-sm-12">
        <h3>Редагування страви</h3>
        {{ form_start(form, {'attr': {'class': 'form-horizontal', 'role': 'form'}}) }}
        <div class="form-group">
            <div class="col-sm-2 control-label no-padding-right">Назва страви</div>
            <div class="col-sm-9">
                {{ form_row(form.name) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label no-padding-right">Рецепт</div>
            <div class="col-sm-9">
                {{ form_row(form.recipe) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label no-padding-right">Інгрідієнти</div>
            <div class="col-sm-9">
                {{ form_row(form.ingredients) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label no-padding-right">Статус</div>
            <div class="col-sm-9">
                {{ form_row(form.status) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label no-padding-right">Ціна</div>
            <div class="col-sm-9">
                {{ form_row(form.price) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label no-padding-right">Категорії</div>
            <div class="col-sm-9">
                {{ form_row(form.categories) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9">
                <label class="col-sm-3 control-label no-padding-right"></label>
                <input type="submit" value="Зберегти" class="btn btn-default"/>
            </div>
        </div>
        {{ form_end(form) }}

        <h3>Завантаження фото</h3>
        {{ form_start(uploadForm, {'attr': {'class': 'form-horizontal', 'role': 'form'}}) }}
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-9">
                {{ form_row(uploadForm.file) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-9">
                <input type="submit" value="Завантажити" class="btn btn-default"/>
            </div>
        </div>
        {{ form_end(uploadForm) }}

        {% if countPictures != 0 %}
            <h3>Вибір фото</h3>
            {{ form_start(formChoose, {'attr': {'class': 'form-horizontal', 'role': 'form'}}) }}
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-9">
                    {{ form_errors(formChoose.pict_path) }}
                    {{ form_widget(formChoose.pict_path) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-9">
                    <input type="submit" value="Вибрати" class="btn btn-default"/>
                </div>
            </div>
            {{ form_end(formChoose) }}

            <h3>Видалити всі фотографії цієї страви</h3>
            {{ form_start(delPictForm, {'attr': {'class': 'form-horizontal', 'role': 'form', onsubmit: 'return confirm("Ви дійсно хочете видалити фотографії?");' }}) }}
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-9">
                    {{ form_errors(delPictForm) }}
                    {{ form_widget(delPictForm.delete, { 'label': ' видалити' }) }}
                </div>
            </div>
            {{ form_end(delPictForm) }}
        {% endif %}

        Загружених фото для цієї страви: {{ countPictures }}
    </div>
{% endblock content %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/chosen.jquery.js') }}"></script>
    <script>
        $('.chosen').chosen();
    </script>
{% endblock %}