{% extends('@App/Admin/Dish/index.html.twig') %}

{% form_theme form ':Admin:themeFields.html.twig' %}
{% block breadcrumbs %}
    {{ parent() }}
    <li>Редагувати страву</li>
{% endblock breadcrumbs %}

{% block content %}
    <h3>Edit Dish</h3>
    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'role': 'form'}}) }}
    <div class="form-group">
        <div class="col-sm-9">
            {{ form_row(form.name) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-9">
            {{ form_row(form.recipe) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-9">
            {{ form_row(form.ingredients) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-9">
            {{ form_row(form.price) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-9">
            {{ form_row(form.categories) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-9">
            <label class="col-sm-3 control-label no-padding-right"></label>
            <input type="submit" value="Modify" class="btn btn-default"/>
        </div>
    </div>
    {{ form_end(form) }}

    <h3>Upload picture</h3>
    {{ form_start(uploadForm, {'attr': {'class': 'form-horizontal', 'role': 'form'}}) }}
    <div class="form-group">
        <div class="col-sm-9">
            <label class="col-sm-3 control-label no-padding-right"></label>
            {{ form_errors(uploadForm.file) }}
            {{ form_widget(uploadForm.file) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-9">
            <label class="col-sm-3 control-label no-padding-right"></label>
            <input type="submit" value="Upload"/>
        </div>
    </div>
    {{ form_end(uploadForm) }}

    {% if countPictures != 0 %}
        <h3>Choose picture</h3>
        {{ form_start(formChoose, {'attr': {'class': 'form-horizontal', 'role': 'form'}}) }}
        <div class="form-group">
            <div class="col-sm-9">
                <label class="col-sm-3 control-label no-padding-right"></label>
                {{ form_errors(formChoose.pict_path) }}
                {{ form_widget(formChoose.pict_path) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9">
                <label class="col-sm-3 control-label no-padding-right"></label>
                <input type="submit" value="Choose"/>
            </div>
        </div>
        {{ form_end(formChoose) }}

        <h3>Delete pictures of this dish</h3>
        {{ form_start(delPictForm, {'attr': {'class': 'form-horizontal', 'role': 'form', onsubmit: 'return confirm("Do you really want to delete pictures?");' }}) }}
        <div class="form-group">
            <div class="col-sm-9">
                <label class="col-sm-3 control-label no-padding-right"></label>
                {{ form_errors(delPictForm) }}
                {{ form_widget(delPictForm) }}
            </div>
        </div>
        {{ form_end(delPictForm) }}
    {% endif %}

    Uploaded files for this dish: {{ countPictures }}
{% endblock content %}
