{% extends(':Admin:base.html.twig') %}
{% block content %}
    <h3>List of dishes category</h3>
    <table class="table table-bordered table-hover">
        <tr>
            <th>#</th>
            <th>category</th>
            <th></th>
            <th></th>
        </tr>
        {% for category in categoryList %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ category.name }}</td>

                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a class="ace-icon glyphicon glyphicon-pencil" title="edit Dish"
                           href="{{ path('adm_dish_cat_edit', {'id':category.id}) }}"></a>
                    </td>
                    <td>
                        {{ form_start(delForms[category.id], {attr : {onsubmit: 'return confirm("Do you really want to delete?");' }}) }}
                        {{ form_widget(delForms[category.id].submit) }}
                        {{ form_end(delForms[category.id]) }}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <br>
{% endblock content %}
