{% extends(':Admin:base.html.twig') %}
{% block content %}
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <a class="btn btn-light btn-xs" href="{{ path('admin_dish_add') }}"><i
                            class="ace-icon fa fa-plus bigger-10"> Додати</i></a>

                <h3>List of Dishes</h3>
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>#</th>
                        <th>name</th>
                        <th>price</th>
                        <th>modified</th>
                        <th>created</th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for dish in dishList %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ dish.name }}</td>
                            <td>{{ dish.price }}</td>
                            <td>{{ dish.updatedAt|date }}</td>
                            <td>{{ dish.createdAt|date }}</td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td>
                                    <a class="ace-icon glyphicon glyphicon-pencil" title="edit Dish"
                                       href="{{ path('admin_dish_edit', {'id':dish.id}) }}"></a>
                                </td>
                                <td>
                                    {{ form_start(delForms[dish.id], {attr : {onsubmit: 'return confirm("Do you really want to delete Dish?");' }}) }}
                                    {{ form_widget(delForms[dish.id].submit) }}
                                    {{ form_end(delForms[dish.id]) }}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
                {% if paginate.count != 0 %}
                    Page: {{ paginate.page }}, count results: {{ paginate.count }}<br/><br/>
                    <ul class="pagination">
                        <li><a href="{{ path('admin_dish_list', {'page': 1}) }}"><i
                                        class="ace-icon fa fa-angle-double-left"></i></a></li>
                        {% if paginate.page <= 1 %}
                            <li class="disabled"><a><b>prev</b></a></li>
                        {% else %}
                            <li><a href="{{ path('admin_dish_list', {'page': paginate.page-1}) }}"><b>prev</b></a></li>
                        {% endif %}
                        <li class="active"><a
                                    href="{{ path('admin_dish_list', {'page': paginate.page}) }}"><b>{{ paginate.page }}</b></a>
                        </li>
                        {% if paginate.page >= paginate.maxPages %}
                            <li class="disabled"><a><b>next</b></a></li>
                        {% else %}
                            <li><a href="{{ path('admin_dish_list', {'page': paginate.page+1}) }}"><b>next</b></a></li>
                        {% endif %}
                        <li><a href="{{ path('admin_dish_list', {'page': paginate.maxPages}) }}"><i
                                        class="ace-icon fa fa-angle-double-right"></i></a></li>
                    </ul>
                {% endif %}
                {#{{ dump(app.request.attributes.get('page')) }}#}
            </div><!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
{% endblock content %}
