{% extends(':Admin:base.html.twig') %}

{% form_theme form _self %}

{%- block form_label -%}
    {% if label is not same as(false) -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': 'col-sm-3 control-label no-padding-right'|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</label>
    {%- endif -%}
{%- endblock form_label -%}

{% block content %}
    <h3>Modify Category</h3>
    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'role': 'form'}}) }}
    <div class="form-group">
        <div class="col-sm-9">
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div class="col-sm-9">
            <label class="col-sm-3 control-label no-padding-right"></label>
            <input type="submit" value="Modify" class="btn btn-default"/>
        </div>
    </div>
    {{ form_end(form) }}
    <br>
    {% if msg != "" %}
        <p><b>{{ msg }}</b></p>
    {% endif %}
{% endblock content %}
