{% extends('@App/Admin/Dish/index.html.twig') %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/chosen.css') }}" rel="stylesheet"/>
{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li>Нова страва</li>
{% endblock breadcrumbs %}

{% block content %}
    <div class="col-sm-12">
        <h3>Додати нову страву</h3>
        {{ form_start(form, {'attr': {'class': 'form-horizontal', 'role': 'form'}}) }}
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-9">
                {{ form_row(form.name) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-9">
                {{ form_row(form.recipe) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-9">
                {{ form_row(form.ingredients) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-9">
                {{ form_row(form.status) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-9">
                {{ form_row(form.price) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-9">
                {{ form_row(form.categories) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9">
                <label class="col-sm-3 control-label no-padding-right"></label>
                <input type="submit" value="Створити" class="btn btn-default"/>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock content %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/chosen.jquery.js') }}"></script>
    <script>
        $('.chosen').chosen();
    </script>
{% endblock %}