{% extends('@App/Admin/Dish/index.html.twig') %}
{% block breadcrumbs %}
    {{ parent() }}
    <li>
        Пошук страв
    </li>
{% endblock breadcrumbs %}

{% block content %}
    <h3>Результати пошуку: </h3>
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <br>
                    <div class="col-xs-12">
                        <table id="simple-table" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>ім'я</th>
                                <th>ціна</th>
                                <th>створена</th>
                                <th>редагована</th>
                                <th></th>
                            </tr>
                            </thead>
                            {% if dishList %}
                                {% for item in dishList %}
                                    <tbody>
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td><a href="{{ path('admin_dish_edit', {'id': item.id}) }}"
                                               title="edit dish">
                                                {{ item.name }}
                                            </a>
                                        </td>
                                        <td>{{ item.price }}</td>
                                        <td>{{ item.createdAt|date }}</td>
                                        <td>{{ item.updatedAt|date }}</td>
                                        <td>
                                            <div class="hidden-sm hidden-xs btn-group">
                                                <a class="ace-icon fa fa-pencil bigger-120"
                                                   href="{{ path('admin_dish_edit', {'id': item.id}) }}">
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            {% endif %}
                        </table>
                        <ul class="pager">
                            {{ knp_pagination_render(dishList) }}
                        </ul>
                    </div><!-- /.span -->
                </div><!-- /.row -->
            </div><!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
{% endblock content %}
