{% extends('@App/Admin/Survey/index.html.twig') %}
{% block breadcrumbs %}
    {{ parent() }}
    <li>
        Редагування опитування
    </li>
{% endblock breadcrumbs %}

{% block search %}
    <form class="form-search" METHOD="post" action="{{ path('admin_dish_search') }}">
        <span class="input-icon">
            <input type="text" min="3" placeholder="Search SurVeyS..." class="nav-search-input" name="search"
                   id="nav-search-input" autocomplete="off"/>
        <i class="ace-icon fa fa-search nav-search-icon"></i>
        </span>
    </form>
{% endblock search %}

{% block content %}
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <h3>Editing <b>in progress...</b></h3>
            {{ form_start(form, {'attr': {'class': 'form-horizontal', 'role': 'form'}}) }}
            <div class="form-group">
                <div class="col-sm-9">
                    <label class="col-sm-3 control-label no-padding-right">Title</label>
                    {{ form_errors(form.title) }}
                    {{ form_widget(form.title) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9">
                    <label class="col-sm-3 control-label no-padding-right">Status</label>
                    {{ form_errors(form.status) }}
                    {{ form_widget(form.status) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9">
                    <label class="col-sm-3 control-label no-padding-right">Answers:</label>
                    {{ form_errors(form.answer1) }}
                    {{ form_widget(form.answer1) }}
                </div>
            </div>
            {#<div class="form-group">
                <div class="col-sm-9">
                    <label class="col-sm-3 control-label no-padding-right"></label>
                    <input type="submit" value="Modify" class="btn btn-default"/>
                </div>
            </div>#}
            {{ form_end(form) }}
        </div><!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
{% endblock %}
