{% extends(':Admin:base.html.twig') %}
{% block breadcrumbs %}
    {{ parent() }}
    <li>
        <a href="{{ path('admin_survey_index') }}">Опитування</a>
    </li>
{% endblock breadcrumbs %}

{% block search %}
    <form class="form-search" METHOD="post" action="{{ path('admin_dish_search') }}">
        <span class="input-icon">
            <input type="text" min="3" placeholder="Search SurVeyS..." class="nav-search-input" name="search"
                   id="nav-search-input" autocomplete="off"/>
        <i class="ace-icon fa fa-search nav-search-icon"></i>
        </span>
    </form>
{% endblock search %}

{% block content %}
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <span class="btn btn-light btn-xs">
                    <a href="{{ path('admin_survey_new') }}"><i
                                class="ace-icon fa fa-plus bigger-10"> Нове</i></a>
                </span>
                <div class="row">
                    <br>
                    <div class="col-xs-12">
                        <table id="simple-table" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>name</th>
                                <th>status</th>
                                <th>created</th>
                                <th></th>
                            </tr>
                            </thead>
                            {% if surveyList %}
                                {% for item in surveyList %}
                                    <tbody>
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td><a href="{{ path('admin_survey_edit', {'id': item.id}) }}"
                                               title="edit survey">
                                                {{ item.title }}</a>
                                        </td>
                                        <td>{{ item.status }}</td>
                                        <td>{{ item.createdAt|date }}</td>
                                        <td>
                                            <div class="hidden-sm hidden-xs btn-group">
                                                <span class="btn btn-xs btn-info">
                                                    <a href="{{ path('admin_survey_edit', {'id': item.id}) }}">
                                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                    </a>
                                                </span>

                                                <button class="btn btn-xs btn-danger hidden">
                                                    <i class="">
                                                        {#{{ form_start(deleteForm[item.id],
                                                        {attr : {onsubmit: 'return confirm("Ви дійсно бажаєте видалити страву?");' }}) }}
                                                        {{ form_widget(deleteForm[item.id].submit) }}
                                                        {{ form_end(deleteForm[item.id]) }}#}
                                                    </i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            {% endif %}
                        </table>
                        {% include ':Admin:paginate.html.twig' %}
                    </div><!-- /.span -->
                </div><!-- /.row -->
            </div><!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
{% endblock content %}
