{% extends('@App/Admin/Survey/index.html.twig') %}

{% form_theme form ':Admin:themeFields.html.twig' %}

{% block breadcrumbs %}
    {{ parent() }}
    <li>Нове опитування</li>
{% endblock breadcrumbs %}

{% block content %}
    <div class="page-content">
        <div class="col-sm-12">
            <h3>Нове опитування</h3>
            {{ form_start(form, {'attr': {'class': 'form-horizontal', 'role': 'form'}}) }}
            <div class="form-group has-info">
                <div class="col-sm-9">
                    <label class="col-sm-3 control-label" style="color:#393939 ">Назва-запитання</label>
                    {{ form_row(form.title) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9">
                    <label class="col-sm-3 control-label">Статус</label>
                    {{ form_errors(form.status) }}
                    {{ form_widget(form.status) }}
                </div>
            </div>
            <div class="form-group has-success">
                <div class="col-sm-9">
                    <label class="col-sm-3 control-label" style="color:#393939 ">Відповіді:</label>
                    <div id="answers" class="col-sm-6">
                    {{ form_errors(form.answer0) }}
                    {{ form_widget(form.answer0) }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9">
                    <label class="col-sm-3 control-label no-padding-right"></label>
                    <input type="submit" value="Створити" class="btn btn-default"/>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock content %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/mainAdmin.js') }}"></script>
    <script>
        var answers = $('#answers'), i = 1;
        answers.on('focus', '.last', function () {
            $(this).removeClass('last');
            answers.append('<input name="survey[answer'+ i +']" class="last" cols="68" type="text">');
            //$(this).next().trigger('focus');
            i++;
            return false;
        })
    </script>
{% endblock %}