{% extends('@App/Admin/User/index.html.twig') %}

{% block breadcrumbs %}
    {{ parent() }}
    <li>
        Пошук користувачiв
    </li>
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <div class="col-xs-12">
                        <table id="simple-table" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>id</th>
                                <th>Логін</th>
                                <th>Пошта</th>
                            </tr>
                            </thead>
                            {% if user %}
                                <span class="center"><h4> За вашим запитом знайдено {{ user|length }} користувачів</h4></span>
                                {% for item in user %}
                                    <tbody>
                                    <tr>
                                        <td>
                                            <a href="{{ path('admin_user_show', {'id': item.id}) }}"><h4>{{ item.id }}</h4></a>
                                        </td>
                                        <td>
                                            <a href="{{ path('admin_user_show', {'id': item.id}) }}"><h4>{{ item.username }}</h4></a>
                                        </td>
                                        <td>
                                            <a href="{{ path('admin_user_show', {'id': item.id}) }}">
                                                <h4>{{ item.email }} </h4></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            {% endif %}
                        </table>
                    </div><!-- /.span -->
                </div><!-- /.row -->
            </div><!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
{% endblock content %}

