{% extends('@App/Admin/User/index.html.twig') %}

{% block breadcrumbs %}
    {{ parent() }}
    <li>
        <a href="{{ path('admin_user_show', {'id': user.id}) }}">Профіль користувача</a>
    </li>
{% endblock %}

{% block content %}

    <div class="page-content">

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="">
                    <div id="user-profile-1" class="user-profile row">
                        <div class="col-xs-12 col-sm-3 center">
                            <div>
												<span class="profile-picture">
													<img src="{{ asset('images/profile-pic.jpg') }}"> </img>
												</span>

                                <div class="space-4"></div>

                                <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                                    <div class="inline position-relative">
                                        <a href="#" class="user-title-label dropdown-toggle" data-toggle="dropdown">
                                            <span class="white">{{ user.email }}</span>
                                        </a>

                                        <ul class="align-left dropdown-menu dropdown-caret dropdown-lighter">
                                            <li class="dropdown-header"> Change Status</li>

                                            <li>
                                                <a href="#">
                                                    <i class="ace-icon fa fa-circle green"></i>
                                                    &nbsp;
                                                    <span class="green">Available</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#">
                                                    <i class="ace-icon fa fa-circle red"></i>
                                                    &nbsp;
                                                    <span class="red">Busy</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#">
                                                    <i class="ace-icon fa fa-circle grey"></i>
                                                    &nbsp;
                                                    <span class="grey">Invisible</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="space-6"></div>

                            <div class="profile-contact-info">
                                <div class="profile-contact-links align-left">
                                    <a href="#" class="btn btn-link">
                                        <i class="ace-icon fa fa-plus-circle bigger-120 green"></i>
                                        Add as a friend
                                    </a>

                                    <a href="#" class="btn btn-link">
                                        <i class="ace-icon fa fa-envelope bigger-120 pink"></i>
                                        Send a message
                                    </a>

                                    <a href="#" class="btn btn-link">
                                        <i class="ace-icon fa fa-globe bigger-125 blue"></i>
                                        www.alexdoe.com
                                    </a>
                                </div>

                                <div class="space-6"></div>

                                <div class="profile-social-links align-center">
                                    <a href="#" class="tooltip-info" title="" data-original-title="Visit my Facebook">
                                        <i class="middle ace-icon fa fa-facebook-square fa-2x blue"></i>
                                    </a>

                                    <a href="#" class="tooltip-info" title="" data-original-title="Visit my Twitter">
                                        <i class="middle ace-icon fa fa-twitter-square fa-2x light-blue"></i>
                                    </a>

                                    <a href="#" class="tooltip-error" title="" data-original-title="Visit my Pinterest">
                                        <i class="middle ace-icon fa fa-pinterest-square fa-2x red"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="hr hr12 dotted"></div>

                            <div class="clearfix">
                                <div class="grid2">
                                    <span class="bigger-175 blue">25</span>

                                    <br>
                                    Followers
                                </div>

                                <div class="grid2">
                                    <span class="bigger-175 blue">12</span>

                                    <br>
                                    Following
                                </div>
                            </div>

                            <div class="hr hr16 dotted"></div>
                        </div>

                        <div class="col-xs-12 col-sm-9">

                            <div class="space-12"></div>

                            <div class="profile-user-info profile-user-info-striped">

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> id</div>

                                    <div class="profile-info-value">
                                        <span>{{ user.id }}</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Почтова адреса</div>

                                    <div class="profile-info-value">
                                        <span>{{ user.email }}</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Логін</div>

                                    <div class="profile-info-value">
                                        <span>{{ user.username }}</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Активний</div>

                                    <div class="profile-info-value">
                                        <span>{% if user.enabled %}
                                                Так
                                            {% else %}
                                                Ні
                                            {% endif %}</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Зареєстровано</div>

                                    <div class="profile-info-value">
                                        <span>{{ user.createdAt|date("d/m/Y") }}</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Відредаговано</div>

                                    <div class="profile-info-value">
                                        <span>{% if user.createdAt == user.updatedAt %}
                                                Профіль не редагувався
                                            {% else %}
                                                {{ user.updatedAt|date("d-m-Y  h:i A") }}
                                            {% endif %}</span>
                                    </div>
                                </div>

                            </div>

                            <div class="space-20"></div>

                            <div class="widget-box transparent">
                                <div class="widget-header widget-header-small">
                                    <h4 class="widget-title blue smaller">
                                        <i class="ace-icon fa fa-cutlery orange"></i>
                                        Останні замовлення
                                    </h4>

                                </div>

                                <div class="widget-body">
                                    <div class="widget-main padding-8">
                                        <div id="profile-feed-1" class="profile-feed ace-scroll"
                                             style="position: relative;">
                                            <div class="scroll-track scroll-active"
                                                 style="display: block; height: 200px;">
                                                <div class="scroll-bar" style="height: 63px; top: 137px;"></div>
                                            </div>
                                            <div class="scroll-content" style="max-height: 200px;">
                                                <div class="profile-activity clearfix">
                                                    <div>
                                                        <a class="user" href="#"> Alex Doe </a>
                                                        changed his profile photo.
                                                        <a href="#">Take a look</a>

                                                        <div class="time">
                                                            <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                                            an hour ago
                                                        </div>
                                                    </div>

                                                    <div class="tools action-buttons">
                                                        <a href="#" class="blue">
                                                            <i class="ace-icon fa fa-pencil bigger-125"></i>
                                                        </a>

                                                        <a href="#" class="red">
                                                            <i class="ace-icon fa fa-times bigger-125"></i>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="profile-activity clearfix">
                                                    <div>
                                                        <a class="user" href="#"> Susan Smith </a>

                                                        is now friends with Alex Doe.
                                                        <div class="time">
                                                            <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                                            2 hours ago
                                                        </div>
                                                    </div>

                                                    <div class="tools action-buttons">
                                                        <a href="#" class="blue">
                                                            <i class="ace-icon fa fa-pencil bigger-125"></i>
                                                        </a>

                                                        <a href="#" class="red">
                                                            <i class="ace-icon fa fa-times bigger-125"></i>
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- PAGE CONTENT ENDS -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div>

{% endblock %}