<header>
    <div class="header-wrapper">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{{ path('homepage') }}"  class="logo"><img src="{{ asset('images/logo.png') }}" alt="Resto" title=""/></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path("homepage") }}" class="{{ 'home' in app.request.get('_route') ? 'active' : '' }}">Головна сторінка</a></li>
                        <li><a href="{{ path("list_dish") }}" class="{{ 'dish' in app.request.get('_route') ? 'active' : '' }}">Меню</a></li>
                        <li><a href="">Галерея</a></li>
                        <li><a href="">Відгуки</a></li>
                        <li><a href="{{ path('userProfile') }}" class="{{ 'Profile' in app.request.get('_route') ? 'active' : '' }}">Профіль</a></li>
                        <li><a href="{{ path('cart') }}" class="{{ 'cart' in app.request.get('_route') ? 'active' : '' }}">Замовлення <span class="ord_count">(<span class="cart_count_heder">{{ render(controller('AppBundle:Cart:getCartCheck')) }}</span>)</span></a></li>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li><a href="{{ path('list_survey') }}" class="{{ 'survey' in app.request.get('_route') ? 'active' : '' }}">Опитування</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>