{% extends(':Front:base.html.twig') %}

{% block title %} {% if dish %} {{ dish.name }} {% endif %} {% endblock %}

{% block new_stylesheets %}
    <link href="{{ asset('css/flexslider.css') }}" rel="stylesheet"/>
{% endblock %}

{% block new_js %}
    <script src="{{ asset('js/jquery.flexslider-min.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="content-wrapper">

        {#Page label#}
        <section class="menu">
            <div class="container">
                <div class="row dish-info-wrapp">
                    <div class="col-sm-6">
                        <div class="flexslider">
                            <ul class="slides">
                                {% if dish and dish.pictPath != '' and dish.pictPath != 'not_set' %}
                                    {% for pict in dish.uploadPicture %}
                                        <li data-thumb="{{ asset(pict.path) }}">
                                            <img src="{{ asset(pict.path) | imagine_filter('thumb_230') }}"
                                                 alt="{{ dish.name }}" title="{{ dish.name }}"/>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <li data-thumb="{{ asset('images/dish1.jpg') }}">
                                        <img src="{{ asset('images/dish1.jpg') }}"/>
                                    </li>
                                    <li data-thumb="{{ asset('images/dish2.jpg') }}">
                                        <img src="{{ asset('images/dish2.jpg') }}"/>
                                    </li>
                                    <li data-thumb="{{ asset('images/dish3.jpg') }}">
                                        <img src="{{ asset('images/dish3.jpg') }}"/>
                                    </li>
                                    <li data-thumb="{{ asset('images/dish4.jpg') }}">
                                        <img src="{{ asset('images/dish4.jpg') }}"/>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    {% if dish %}
                        <div class="dish-info col-sm-6">
                            <div class="dish-info-head">
                                <h1>{{ dish.name }}</h1>
                                <span class="price">{{ dish.price }} грн</span>
                            </div>

                            <div class="ingridients">
                                Склад: <span class="ingrid">{{ dish.ingredients | raw }}</span>
                            </div>

                            <div class="description">
                                {{ dish.recipe | nl2br }}
                            </div>
                            Створений: {{ dish.createdAt|date }}
                            {% if dish.categories[0].name is defined %}
                                <h4>Categories:</h4>
                                <p>
                                    {% for item in dish.categories %}
                                        {{ item.name }}
                                    {% endfor %}
                                </p>
                            {% endif %}
                            <div>
                                <button class="addToCart" data-dish="{{ dish.id }}">Замовити <i class="fa fa-cutlery"></i></button>
                            </div>
                        </div>
                    {% else %}
                            <div class="dish-info-head">
                                <h1>Dish not found</h1>
                            </div>
                    {% endif %}
                </div>
            </div>

            <div class="container">

            </div>
        </section>
    </div>
{% endblock %}

{% block initialize_plagins %}
    <script>
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
        $(document).ready(function () {
            //add to cart ajax
            $('.addToCart').click(function () {
                var addButton = $(this);
                var dish = addButton.data("dish");
                $.ajax({
                    url: "{{ path('addToCart') }}/" + dish,
                    method: "POST",
                    success: function (data) {
                        if (data.added == 1) {
                            var count = parseInt($('.cart_count_heder').html()) + 1;
                            addButton.html('В кошику <i class="fa fa-check"></i>').css("background-color", "grey");
                            $('.cart_count_heder').html(count);
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}