{% extends('base.html.twig') %}

{% block stylesheets %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ asset('css/reset.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/resto.css') }}" rel="stylesheet"/>
    {% block new_stylesheets %}{% endblock %}
    <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/easing.js') }}"></script>
    {% block new_js %}{% endblock %}
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock javascripts %}




{% block body %}
    {% block header %}
        <header>
            <div class="header-wrapper">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href=""><img src="/images/logo.png" alt="Resto" title=""/></a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ path("homepage") }}" class="active">Головна сторінка</a></li>
                            <li><a href="{{ path("menu") }}">Меню</a></li>
                            <li><a href="">Галерея</a></li>
                            <li><a href="">Замовлення</a></li>
                            <li><a href="">Відгуки</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            </div>
        </header>
    {% endblock header %}


    {% block content %}
    {% endblock content %}

    {% block footer %}
        <footer>
            <div class="container">
                <div class="row">
                <!-- adresse1  -->
                <section class="adress col-xs-6 col-sm-4">
                    <p>New York Restaurant</p>
                    <p class="location">3926 Anmoore Road<br/>
                        New York, NY 10014</p>
                    <p class="phone">718-749-1714</p>
                </section>


                <!--  footer navigation  -->
                <section class="footer_nav col-xs-6 col-sm-4">
                    <nav>
                        <ul>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Careers</a></li>
                            <li><a href="">Privacy Policy</a></li>
                            <li><a href="">Contact</a></li>
                        </ul>
                    </nav>
                </section>

                <!--  footer copyrights  -->
                <section class="copyrights col-xs-12 col-sm-4">
                    <div class="footer_logo col-xs-4 col-sm-12"><img src="/images/footer_logo.png"  alt="" title=""></div>
                    <p class="col-xs-4 col-sm-12">© All Rights Reserved 2014.</p>
                    <p class="col-xs-4 col-sm-12">Find  More at <a href="http://pixelhint.com" target="_blank">Pixelhint.com</a></p>
                </section>
                </div>
            </div>
        </footer>

    {% endblock footer %}
{% endblock body %}






