{% extends(':Front:base.html.twig') %}

{% block title %}Два їжа{% endblock %}

{% block new_stylesheets %}
    <link href="{{ asset('css/slick.css') }}" rel="stylesheet"/>
{% endblock %}

{% block new_js %}
    <script src="{{ asset('js/slick.min.js') }}"></script>
{% endblock %}

{% block content %}
    <!--  start hero  -->
    <section class="hero">
        <div class="caption">
            <h3>Два їжа</h3>
            <h4>
                <span class="rsep"></span>
                українська домашня кухня
                <span class="lsep"></span>
            </h4>

        </div>
    </section><!--  end hero  -->


    <!--  start menu  -->
    <section class="menu">
        <div class="container">
            <div class="menu_title">
                <h2>Від шефа</h2>
            </div>
            <div class="mean_menu">
                <!--  left menu row  -->
                <article class="lmenu">
                    <ul class="row">
                        {% for dish in dishList %}
                            {% if loop.index <= 4 %}
                                <li class="col-xs-12 col-md-6">
                                    <div class="item_info col-xs-6">
                                        <h3 class="item_name"> {{ dish.name }}</h3>

                                        <p class="item_desc">{{ dish.recipe }}</p>
                                    </div>
                                    <h4 class="price">{{ dish.price }} uah</h4>
                                    <span class="separator col-xs-6 col-sm-5"></span>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </article>
            </div>

            <!--  hidden menu items  -->
            <div class="hidden_items">
                <!--  left menu row  -->
                <article class="lmenu">
                    <ul class="row">
                        {% for dish in dishList %}
                            {% if loop.index >= 5 %}
                                <li class="col-xs-12 col-md-6">
                                    <div class="item_info col-xs-6">
                                        <h3 class="item_name">{{ dish.name }}</h3>

                                        <p class="item_desc">{{ dish.recipe }}</p>
                                    </div>
                                    <h4 class="price">{{ dish.price }} uah</h4>
                                    <span class="separator col-xs-6 col-sm-5"></span>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </article>
            </div>

            <div class="load-more">
                <a href="#" id="more_items">
                    показати більше
                    <hr/>
                    <span class="bottom_arrow"></span>
                </a>
            </div>
        </div>
    </section><!--  end menu  -->


    <!--  start featured dishes  -->
    <section class="featured_dishes">
        <div class="container">
            <section class="info">
                <div class="title">
                    <h3>Популярні страви</h3>
                    <span class="separator"></span>
                </div>
                <div class="slider_nav" id="slider_nav">
                </div>
            </section>

            <section class="dishes" id="dishes">

                <article>
                    <div class="dishe_img">
                        <a href="#"><img src="/images/dish1.jpg" alt="" title=""/></a>
                    </div>
                    <div class="dish_info">
                        <h2>Fugiat nulla sint</h2>

                        <h3 class="hidden-xs">$30</h3>
                    </div>
                    <ul class="rating hidden-xs">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li class="no-star"></li>
                    </ul>
                </article>

                <article>
                    <div class="dishe_img">
                        <a href="#"><img src="/images/dish1.jpg" alt="" title=""/></a>
                    </div>
                    <div class="dish_info">
                        <h2>Fugiat nulla sint</h2>

                        <h3 class="hidden-xs">$30</h3>
                    </div>
                    <ul class="rating hidden-xs">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li class="no-star"></li>
                    </ul>
                </article>
                <article>
                    <div class="dishe_img">
                        <a href="#"><img src="/images/dish1.jpg" alt="" title=""/></a>
                    </div>
                    <div class="dish_info">
                        <h2>Fugiat nulla sint</h2>

                        <h3 class="hidden-xs">$30</h3>
                    </div>
                    <ul class="rating hidden-xs">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li class="no-star"></li>
                    </ul>
                </article>
                <article>
                    <div class="dishe_img">
                        <a href="#"><img src="/images/dish1.jpg" alt="" title=""/></a>
                    </div>
                    <div class="dish_info">
                        <h2>Fugiat nulla sint</h2>

                        <h3 class="hidden-xs">$30</h3>
                    </div>
                    <ul class="rating hidden-xs">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li class="no-star"></li>
                    </ul>
                </article>
                <article>
                    <div class="dishe_img">
                        <a href="#"><img src="/images/dish1.jpg" alt="" title=""/></a>
                    </div>
                    <div class="dish_info">
                        <h2>Fugiat nulla sint</h2>

                        <h3 class="hidden-xs">$30</h3>
                    </div>
                    <ul class="rating hidden-xs">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li class="no-star"></li>
                    </ul>
                </article>
                <article>
                    <div class="dishe_img">
                        <a href="#"><img src="/images/dish1.jpg" alt="" title=""/></a>
                    </div>
                    <div class="dish_info">
                        <h2>Fugiat nulla sint</h2>

                        <h3 class="hidden-xs">$30</h3>
                    </div>
                    <ul class="rating hidden-xs">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li class="no-star"></li>
                    </ul>
                </article>
                <article>
                    <div class="dishe_img">
                        <a href="#"><img src="/images/dish1.jpg" alt="" title=""/></a>
                    </div>
                    <div class="dish_info">
                        <h2>Fugiat nulla sint</h2>

                        <h3 class="hidden-xs">$30</h3>
                    </div>
                    <ul class="rating hidden-xs">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li class="no-star"></li>
                    </ul>
                </article>
                <article>
                    <div class="dishe_img">
                        <a href="#"><img src="/images/dish1.jpg" alt="" title=""/></a>
                    </div>
                    <div class="dish_info">
                        <h2>Fugiat nulla sint</h2>

                        <h3 class="hidden-xs">$30</h3>
                    </div>
                    <ul class="rating hidden-xs">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li class="no-star"></li>
                    </ul>
                </article>
            </section>
        </div>
    </section><!--  end featured_dishes  -->



    <!--  start gallery  -->
    <section class="gallery">
        <div class="container">
            <section class="info">
                <div class="title">
                    <h3>Галерея</h3>
                    <span class="separator"></span>
                </div>
            </section>

            <div class="media">
                <section>
                    <a href="#">
                        <img src="/images/img1.jpg" alt="" title=""/>
                    </a>
                </section>

                <section>
                    <div class="hhalf">
                        <a href="#">
                            <img src="/images/img2.jpg" alt="" title=""/>
                        </a>
                    </div>
                    <div class="hhalf">
                        <a href="#">
                            <img src="/images/img3.jpg" alt="" title=""/>
                        </a>
                    </div>
                </section>

                <section>
                    <div class="hhalf">
                        <a href="#">
                            <img src="/images/img4.jpg" alt="" title=""/>
                        </a>
                    </div>
                    <div class="hhalf">
                        <a href="#">
                            <img src="/images/img5.jpg" alt="" title=""/>
                        </a>
                    </div>
                </section>
            </div>
        </div>
    </section><!--  end gallery  -->
{% endblock content %}

{% block initialize_plagins %}
    <script>
        $("#dishes").slick({
            slidesToShow: 4,
            slidesToScroll: 4,
            mobileFirst: true,
            swipe: true,
            autoplay: true,
            autoplaySpeed: 3000,
            arrows: false
        });
    </script>
{% endblock %}