{% extends(':Front:base.html.twig') %}

{% block title %}Меню{% endblock %}

{% block new_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
{% endblock %}


{% block content %}
    <div class="content-wrapper">

        {#Page label#}
        <section class="menu">
            <div class="container">
                <div class="menu_title">
                    <h2>Меню</h2>
                </div>

                {#Gallery navigation#}
                <aside class="category-nav navbar navbar-inverse  col-sm-4 col-lg-3">
                    <div>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#categoriesNav">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="categoriesNav">
                        <ul id="filters" class="button-group">
                            <li>
                                <button class="is-checked" data-filter="*">Показати всі</button>
                            </li>
                            {% for item in categories %}
                                    <li>
                                        <button data-filter=".{{ item.slug }}">{{ item.name }}</button>
                                    </li>
                            {% endfor %}
                        </ul>
                    </div>
                </aside>

                <div class="dishes_wrapp col-sm-8  col-lg-9">
                    <ul class="dish_list isotope">
                        {% for dish in dishList %}
                            <li class="dish col-xs-6 col-md-3 element-item {% for item in dish.categories %}{{ item.slug }} {% endfor %}">
                                <a href="{{ path('show_one_dish', {'slug': dish.slug }) }}">
                                    <div class="dish_img_wrapp">
                                        <img src="{{ asset('images/dish2.jpg') }}" alt="" title=""/>
                                        <div class="price">{{ dish.price }}грн</div>
                                    </div>
                                    <h3><a href="{{ path('show_one_dish', {'slug': dish.slug }) }}">{{ dish.name }}</a>
                                    </h3>
                                    <button class="addToCart">Замовити <i class="fa fa-cutlery"></i>
                                    </button>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}

{% block initialize_plagins %}
    <script>
        $(document).ready(function () {
            // init Isotope
            var $container = $('.isotope').isotope({
                itemSelector: '.element-item',
                layoutMode: 'fitRows'
            });

            // bind filter button click
            $('#filters').on('click', 'button', function () {
                var filterValue = $(this).attr('data-filter');
                // use filterFn if matches value
                $container.isotope({filter: filterValue});
            });

            // change is-checked class on buttons
            $('.button-group').each(function (i, buttonGroup) {
                var $buttonGroup = $(buttonGroup);
                $buttonGroup.on('click', 'button', function () {
                    $buttonGroup.find('.is-checked').removeClass('is-checked');
                    $(this).addClass('is-checked');
                });
            });

        });
    </script>
{% endblock %}