{% extends(':Front:base.html.twig') %}

{% block title%}Замовлення{% endblock %}

{% block content %}
<div class="content-wrapper">

    {#Page label#}
    <section class="menu">
        <div class="container">
            <div class="menu_title">
                <h2>Замовлення</h2>
            </div>
            {{ form(form) }}
            {% if dishes|length != 0 %}
            <div class="container order_page">
                <div class="instruction">
                    Тут якесь пояснення, щодо оформлення замовлення
                </div>
                <ul class="dish_list">
                    {% for dish in dishes %}
                    <li class="row dish_{{ dish.id }}">
                        <div class="img-wrapp col-xs-6 col-md-3">
                            <img src="{{ asset(dish.pictPath) | imagine_filter('thumb_230') }}"
                                 alt="{{ dish.name }}" title="{{ dish.name }}"/>
                        </div>
                        <div class="dish_info col-xs-6">
                            <h2><a href="#">{{ dish.name }}</a></h2>
                            <div class="ingridients">
                                 Склад: {{ dish.ingredients }}.
                            </div>
                        </div>
                         <div class="order_info col-md-3">
                             <div class="count-wrapp col-xs-4">

                                    <div class="form-group">
                                        <input type="number" class="form-control" name="count" min="0" value="1">
                                    </div>

                             </div>
                             <span class="price col-xs-8">{{ dish.price }} грн</span>
                         </div>
                        <div class="delete_position">
                            <button data-dish="{{ dish.id }}" class="del_dishCart btn btn-xs">
                                <i class="fa fa-times"></i>
                            </button>

                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <div class="row">
                    <div class="location_block col-md-6">
                    <h2>Вкажіть адрессу доставки</h2>

                    <div class="radio">
                        <label><input type="radio" name="optradio" class="address">вул. Героїв Сталінграду 46</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="optradio" class="address">вул. Смілянська 231</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="optradio" class="address new_addr_radio">Інша адреса</label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control new_addr" name="count" placeholder="Введіть адресу">
                    </div>
                </div>
                    <div class="location_block col-md-6">
                        <h2>Вкажіть час доставки</h2>

                        <div class="radio">
                            <label><input type="radio" name="time" class="time">Негайно</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="time" class="time new_time_radio">На первний час</label>
                            </div>
                        <div class="form-group">
                            <input type="text" placeholder="01/01/2016 16:00" id="datepicker" class="form-control new_time" name="new_time">
                        </div>
                    </div>
                </div>
                    <input class="addToCart" type="submit" value="Підтвердити">

            </div>
            {% else %}
                <h1>Ви не видрали жодної страви до замовлення. Перегляньте <a href="{{ path('list_dish') }}">меню</a>, та оберіть що Вам за смаком!</h1>
            {% endif %}
        </div>
    </section>

</div>
{% endblock %}

{% block initialize_plagins %}
<script>
    $(document).ready(function () {
        //delete from cart ajax
        $('.del_dishCart').click(function () {
            var addButton = $(this);
            var dish = addButton.data("dish");
            $.ajax({
                url: "{{ path('dellFromCart')}}/" + dish,
                method: "POST",
                success: function (data) {
                    if (data.deleted == 1) {
                        $('.dish_'+dish).fadeOut("fast");
                        $('.cart_count_heder').html($('.cart_count_heder').html() - 1) ;
                        setTimeout(function(){
                            $('.dish_'+dish).remove();
                        }, 1000);
                    }
                }
            });
        });
    });
</script>
{% endblock %}