{% extends(':Front:base.html.twig') %}

{% block title %}Опитування{% endblock %}

{% block content %}
    <div class="content-wrapper">

        {#Page label#}
        <section class="menu">
            <div class="container">
                <div class="menu_title">
                    <h2>Опитування</h2>
                </div>
                {% if app.user %}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-3"></div>
                            <div class="col-xs-4">
                                {% for survey in surveyList %}
                                    <h3>{{ survey.title }}</h3>
                                    <ul>
                                        {% for item in survey.surveyAnswers %}
                                            <li><a class=""
                                                   href="{{ path('result_survey', {'aid': item.id}) }}">
                                                    {{ item.answer }}
                                                </a></li>
                                        {% endfor %}
                                    </ul>
                                    <hr>
                                    {#{{ form(formSurveyList[survey.id]) }}#}
                                    {#{{ form(form1Survey) }}#}
                                {% endfor %}
                                {#{{ dump(surveyList[0]) }}#}
                                {#{{ dump(app.user.id) }}#}
                            </div>
                            <div class="col-xs-5"></div>
                        </div>
                    </div> {# end row #}
                    {% else %}

                    <H3 class="alert-danger text-center">Ця сторінка доступна тільки для зареєстрованих користувачів</H3>
                {% endif %}
            </div>
        </section>
    </div>
{% endblock content %}