{% extends(':Front:base.html.twig') %}

{% block title%}Два їжа{% endblock %}

{% block new_stylesheets %}
    <link href="{{ asset('css/slick.css') }}" rel="stylesheet"/>
{% endblock %}

{% block new_js %}
    <script src="{{ asset('js/slick.min.js') }}"></script>
{% endblock %}

{% block content %}
<section class="menu">
    <div class="container">
        <div class="menu_title">
            <h2>Ваш профіль</h2>
        </div>
        <p  class="page_desc">На цій сторінці ви можете переглядати історію ваших замовлень та відстежувати їх поточний стан.</p>
        {% if orders %}
            <ul class="order_history">
                {% for order in orders %}
                <li class="row {{ order.status }}">
                    <div class="date cols-sm-3 col-md-3">
                    <div class="create_at"><div>Створен: </div>{{ order.createdAt|date("d.m.Y h:m") }}</div>
                    <div class="shipping_to"><div>Доставити до: </div>{{ order.cookTo|date("d.m.Y h:m") }}</div>
                </div>
                    <ul class="dish_list col-md-4">
                    {% for dishInOrder in order.dishesInOrder %}
                        <li><a href="{{ path('show_one_dish', {'slug': dishInOrder.dish.slug }) }}">{{ dishInOrder.dish.name }} х{{ dishInOrder.count }}</a></li>
                    {% endfor %}
                    </ul>
                    <div class="cost col-md-3">
                    {{ order.summ }}грн
                </div>
                    <div class="status col-md-2">
                    {% if order.status == 'processing' %}
                        Очікує підтвердження
                    {% elseif order.status == 'canceled' %}
                        Відмовлено
                    {% elseif order.status == 'confirmed' %}
                        Підтверджено, очікує на приготування
                    {% elseif order.status == 'cooking' %}
                        Готується
                    {% elseif order.status == 'shipping' %}
                        В дорозі
                    {% elseif order.status == 'closed' %}
                        Завершено
                    {% endif %}
                </div>
                    {% if order.status == 'processing' %}
                        <div class="delete_position">
                    <i class="fa fa-times"></i>
                </div>
                        {% endif %}
                </li>
                {% endfor %}

        </ul>
        {% else %}
            <h1>Поки що ви не здійснили жодного замовлення</h1>
        {% endif %}
    </div>
</section>
{% endblock %}