{% extends('::base.html.twig') %}
{% block content %}
        <div class="">
            <h2 class="blog-post-title">
                {{ dish.name }}
            </h2>
            <p>
                Created: {{ dish.createdAt|date }}
            </p>
            {#
            {% if post.pictPath != "" %}
                <a href="{{ path('showOnePost', {'slug': post.slug }) }}">
                    <img class=" img-thumbnail" src="{{ asset(post.pictPath) | imagine_filter('thumb_160') }}"/>
                </a>
            {% else %}
                {{ dump(post.pictPath) }}
                <a href="{{ path('showOnePost', {'slug': post.slug }) }}">
                    <img class=" img-thumbnail" src="{{ asset('img/programming.jpg') | imagine_filter('thumb_160') }}"/>
                </a>
            {% endif %}#}
            <div class="clearfix">
                <h4>Ingredients:</h4>
                <p>{{ dish.ingredients | raw }}</p>
                <h4>Recipe:</h4>
                <p>{{ dish.recipe | nl2br }}</p>
                <p>Price: {{ dish.price }}</p>
                {% if dish.categories[0].name is defined %}
                    <h4>Categories:</h4>
                    <p>
                        {% for item in dish.categories %}
                            {{ item.name }}
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
            <hr>
        </div>

{% endblock content %}
